.app {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        59.87% 59.87% at 48.06% 40.13%,
        rgba(94, 25, 148, 0.94) 0%,
        rgba(41, 8, 135, 0.88) 75.52%
    );
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
