.authpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .authpage__content {
        flex: 4;
        display: flex;

        .authpage__content__authimg {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .authpage__content__authimg__img {
                background-color: red;
                width: 400px;
                height: 400px;
                background: url("../images/authImg.jpg") 0 0/100% 100% no-repeat;
            }
        }

        .authpage__content__info {
            flex: 1.8;
            display: flex;
            justify-content: center;

            .authpage__content__info__inputs {
                align-self: flex-end;
                input {
                    background: #e8e8fa;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                }

                h4 {
                    color: white;
                    margin-bottom: 40px;
                }

                .button_field {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    border-radius: 15px;
                }
            }

            .authpage__content__info__title {
                align-self: center;
                color: white;
                margin-bottom: 100px;
                margin-right: 60px;

                h1 {
                    font-size: 60px;
                    line-height: 30px;
                }

                h4 {
                    color: white;
                }
            }
        }

        p {
            position: absolute;
            top: 0;
            right: 0;
            margin: 30px;
            color: white
        }
    }

    .authpage__footer {
        flex: 1;
        background-color: #e5e5e5;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .authpage__footer__item {
            width: 200px;
            height: 130px;
            background: #e8e8fa;
            border: 0.3px solid rgba(94, 25, 148, 0.94);
            box-sizing: border-box;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
        }
    }
}
