.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient(
        59.87% 59.87% at 48.06% 40.13%,
        rgba(94, 25, 148, 0.94) 0%,
        rgba(41, 8, 135, 0.88) 75.52%
    );
    background-blend-mode: darken;

    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__logo {
        color: white;
        margin-bottom: 70px;
        margin-left: 20px;
        font-family: Offside;
    }

    .navbar__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;

        .navbar__profile__info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: white;
            height: 150px;
            flex: 2;
            border: 1px solid black;

            .navbar__profile__info__name {
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-basis: 60%;
                margin-top: 25px;
                p {
                    align-self: center;
                    margin: 0;
                    margin-bottom: 5px;
                }
            }

            .navbar__profile__info__icon {
                margin-top: 20px;
            }

            button {
                flex-basis: 50%;
            }
        }

        .navbar__profile__logout {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            background-color: rgb(130, 21, 231);
            height: 50px;
            border-radius: 10px;
           
            border: none;
            margin: 10px;
        }
    }
}

