.navbar {
    width: 100%;
    height: 150px;
    background: radial-gradient(
        59.87% 59.87% at 48.06% 40.13%,
        rgba(94, 25, 148, 0.94) 0%,
        rgba(41, 8, 135, 0.88) 75.52%
    );
    background-blend-mode: darken;
    display: flex;
    flex-direction: row;

    .navbar__title {
        display: flex;
        margin: 0 0;
        align-items: center;
        margin-left: 35px;
        margin-bottom: 10px;
        flex: 5;

        h1 {
            margin: 0 0;
            font-size: 65px;
            font-weight: 400;
        }
    }

    .navbar__info {
        flex: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid black;

        .navbar__info__user {
            width: 100%;
            flex-basis: 50%;
            display: flex;
            flex-direction: row;

            .navbar__info__user__icon {
                display: flex;
                align-items: center;

                i {
                    font-size: 50px;
                    color: black
                }
            }

            .navbar__info__user__name {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        p {
            color: black;
            font-size: 15px;
        }

        .logout:hover {
            border-radius: 5px;
            background-color: red;
        }
    }
}